body {
   background-color: #fff;
  -webkit-transition:background-color linear 5s;
  -moz-transition:background-color linear 5s;
  -o-transition:background-color linear 5s;
  -ms-transition:background-color linear 5s;
  transition:background-color linear 5s;
  overflow-x:hidden;
}

audio {
  display: none !important;
}


.container {
  display: none;
}


.test {
  font-size: 30px;
  font-weight: bold;
  font-family: 'IndieFlower', Helvetica, serif;
  color: #fff;
  text-shadow: 4px 0px 5px #000;
}

.made-with-love {
  text-shadow: 0 0 1px #41277C, 0 0 15px rgba(238, 238, 255, 0.85);
  color: #eeeeef;
  font-size: 20px;
  display: none;
  position: absolute;
  width: 90%;
  top: 80%;
  bottom: auto;
  right: auto;
  text-align: center;

  .made-by-heart {
    fill: red;
    position: relative;
    top: 5px;
    margin: 0 5px;
    width: 25px;
    animation: pulse 1s ease infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
}

html,
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}


.oswald-app {
     font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
        font-size: 36px;
}


body {
    font-family: 'Inter', Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
  }
  
  .container {
    max-width: 600px;
    margin: 80px auto;
    padding: 0 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .no{
    background-color: red;
    border-radius: 4px;
    cursor: pointer;
  }

  #message{
    margin-top: 20px;
  }

  #confetti-canvas{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
  }

  footer{
    margin-top: 200px;
  }
  
  @media (max-width: 768px) {
    body {
      padding-top: 50px;
    }
  
    h1 {
      font-size: 23px;
      margin-bottom: 10px;
    }
  
    button {
      padding: 8px 16px;
      font-size: 14px;
      margin-top: 10px;
    }
  }
.birthday-message {
  font-family: 'Lato', Helvetica, serif;
  width: 100%;
  font-size: 50px;
  display: none;
  text-align: center;
  text-shadow: 2px 5px 8px #6c5299;
  color: #47326a;
  margin-bottom: 10px;
}

.name-letter {
  font-family: 'Quicksand', Helvetica, serif;
  width: 100%;
  font-size: 25px;
  color: #eeeeef;
  transition: all 1s ease-in;
  display: none;

  .typed-cursor {
    display: none;
  }
}


.wrap {
  max-width: 900px;
  margin: 0 auto;
}

.glide {
  display: none;
}
.slide {
  line-height: 100px;
  margin: 0;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.glide__slides {
  height: 400px;
}

.slide1 {
  background-image: url("Couple.jpeg");
}

.slide2 {
  background-image: url("Couple2.jpeg");
}

.slide3 {
  background-image: url("Couple3.jpeg");
}

.slide4 {
  background-image: url("Couple4.jpeg");
}

.slide5 {
  background-image: url("Couple5.jpeg");
}

.slide6 {
  background-image: url("Couple6.jpeg");
}
